

body,html{
    padding: 0px;
    margin: 0px;
    background-color: #dad7cd;
    color: #3a5a40;
}
nav{
    display: flex;
    justify-content: center;
    gap: 75px;
}
nav h1{
    transition: all 0.4s ease;
}
nav h1:hover{
    cursor: pointer;
    transition: all 0.4s ease;
    transform: scale(1.1) rotateY(45deg);
}
.main{

}
.main-text{
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 30px;
}
.main-text:hover{

}
.shake{
    transition: all 0.4s ease;
}
.shake:hover{
    transition: all 0.4s ease;
    animation: infinite normal 0.4s shaking;
    cursor: crosshair;
}
@keyframes shaking {
    0% {
        transform: rotate(0deg);
        text-shadow: 3px 5px 5px rgba(58, 58, 58, 0.421);
    }
    25% {
        transform: rotate(-3deg);
        text-shadow: 3px 5px 5px rgba(58, 58, 58, 0.421);
    }
    50% {
        transform: rotate(3deg);
        text-shadow: 0px 0px 0px;
    }
    75% {
        transform: rotate(-3deg);
        text-shadow: 3px 5px 5px rgba(58, 58, 58, 0.421);
    }
    100% {
        transform: rotate(0deg);
        text-shadow: 0px 0px 0px;
    }
}
.box{
    width: 500px;
    height: 350px;
    border: 2px #344e41 solid;
    background-color: #588157;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 4px 5px 5px 5px rgba(84, 84, 84, 0.229);
    cursor: crosshair;
}
.boxes{
    color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    gap: 50px;
    margin: 10px;
}
.box:hover{
    transition: all 0.4s ease;
    transform: scale(1.05) translateY(5px);
    cursor: crosshair;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #344e41;
    color: #dad7cd;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin-top: 5%;
}
.longbox{
    margin-top: 150px;
    width: 1100px;
    height: 400px;
    text-align: center;
    display: flex;
    border: 2px #344e41 solid;
    background-color: #588157;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 4px 5px 5px 5px rgba(84, 84, 84, 0.229);
    cursor: crosshair;
}
.longbox:hover{
    transition: all 0.4s ease;
    transform: translateY(10px)scale(1.04);
}
.longbox-bk{
    display: flex;
}
.longbox-bk h1{
    margin-top: 350px;
    text-align: center;
}
.background{
    display: flex;
    width: 600px;
    height: 800px;
    background-color: #344e41;
    justify-content: center;
}
#section1{
    color: rgb(255, 251, 0);
    text-shadow: 3px 4px 5px rgba(121, 103, 1, 0.451);
}