
* {
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body { font-family: 'Poppins', sans-serif; 
padding: 0px; margin: 0px; color: white;}

nav{
    display: flex;
    justify-content: center;
    gap: 75px;
    background-color: rgba(128, 128, 128, 0.336);
}
nav h1{
    transition: all 0.4s ease;
}
nav h1:hover{
    transition: all 0.4s ease;
    transform: scale(1.1) translateY(10px);
    cursor: pointer;
    color: gold;
}
.hero-text{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-text h1{
    margin-top: 10%;
    font-size: 80px;
    color: rgb(9, 134, 217);
    animation: infinite normal  5s text;
}
@keyframes text{
    0%{
        color: rgb(9, 134, 217);
    }
    25%{
        color: rgb(2, 100, 118)
    }
    50%{
        color: rgb(138, 136, 2)
    }
    75%{
        color: rgb(255, 234, 1)
    }

}
.boxes{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.box{
    width: 450px;
    height: 610px;
    border: gold 3px solid;
    background-color: gray;
    border-radius: 25px;
    text-align: center;
    color: white;
    padding: 3px;
}
#ak47{
    width: 380px;
    height: 300px;
}
@keyframes arkaplan{
    0%{
        background: #0f0f13
    }
    50%{
        background: #080849
    }
    75%{
        background: #0f0f13
    }
}
#arkaplan{
    animation: normal  ease infinite 10s arkaplan;
    background: #0f0f13
}
.buy-btn{
    width: 250px;
    height: 75px;
    border-radius: 25px;
    border: 0px;
    box-shadow: 0px 4px 4px 4px rgba(54, 54, 54, 0.234);
    animation: normal ease-in-out infinite 10s button;
    color: white;
    font-size: 25px;
    transition: all 0.4s ease;
}
.buy-btn:hover{
    transition: all 0.4s ease;
    transform: scale(1.1) rotateY(45deg);
    cursor: pointer;
}
@keyframes button{
    0%{
        background-color: rgb(5, 234, 5);
    }
    50%{
        background-color: rgb(171, 227, 171);
    }
    75%{
        background-color: rgb(55, 140, 55);
    }
}